# Test dependencies

asynctest
coveralls
coverage[toml]
pytest
pytest-asyncio<1.0.0
pytest-cov
pytest-timeout
freezegun
tomli
aioresponses

pysqlite3-binary; platform_system=="Linux" and python_version<"3.12"
