# Test dependencies

asynctest
coveralls
coverage[toml]
pytest
pytest-asyncio
pytest-cov
pytest-timeout
freezegun
tomli
aioresponses
backports.zoneinfo; python_version<"3.9"

pysqlite3-binary; platform_system=="Linux" and python_version<"3.12"